@charset "utf-8";

/* 헤더 버튼 */
.page {height:100%; color:var(--font1);}
.page .header {display: block;height:5rem;}
.page .header .inner {display: flex; align-items: center; position: fixed; top: 0; left: 0; z-index: 200; width: 100%; height: 5rem; padding: .5rem var(--in); background-color: var(--bg-root);}
.page .header .title {overflow: hidden; white-space: nowrap; text-overflow: ellipsis; position: absolute; top: 50%; left: 50%; max-width: calc(100% - 18rem); color: var(--font1); font-weight: bold; font-size: 1.6rem; line-height: 1.2; text-align: left; transform: translate(-50%, -50%); letter-spacing: -.1rem;background:none;}
.header .func {display:flex; align-items:center; height:2.4rem; background-color:transparent; font-size:1.4rem; white-space:nowrap; color:var(--F02)}
.header .func.-back    {width:2.4rem; background:url(../imgs/ico/common/ico-func-back.png)       no-repeat 0 / cover;}
.header .func.-home    {width:2.4rem; background:url(../imgs/ico/common/ico-func-home.png)       no-repeat 50% / 2.4rem 2.4rem;}
.header .func.-menu    {width:2.4rem; background:url(../imgs/ico/common/ico-func-menu.png)       no-repeat 0 / cover;}
.header .func.-close   {width:2.4rem; background:url(../imgs/ico/common/ico-func-close.png)      no-repeat 0 / cover;}

.header .func.-active {position:relative;}
.header .func.-active:after {content:""; position:absolute; top:0; right:-0.3rem; width:.5rem; height:.5rem; border-radius:50%; background-color:#f00;}

/* 서브메인 header */
.submain-body .header .title {
    transition: opacity .1s ease;
}

.submain-body .header .sub-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: calc(100% - 18rem);
    color: var(--font1);
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 1.2;
    text-align: left;
    transform: translate(-50%, -50%);
    letter-spacing: -.1rem;
    opacity: 0;
    transition: opacity .1s ease;
}

.submain-body .header.-switch .title {
    opacity: 0;
}

.submain-body .header.-switch .sub-title {
    display: block;
    opacity: 1;
}

.page.submain-body .content {
    padding-top: 0;
}