@charset "utf-8";

/* @import './util_sample.css'; */



/* ======== FUNCTION ======== */

[data-role="fold"] > [data-role="hidden"] {display:none;}
[data-role="fold"] .dl > [data-role="hidden"] {display:none;}

[data-role="fold"].-slidedown {overflow:hidden;}
[data-role="fold"].-slidedown > [data-role="hidden"] {display:block; overflow:hidden;}
[data-role="fold"].-slidedown .dl > [data-role="hidden"] {display:flex; overflow:hidden;}
[data-role="fold"].-slidedown .more {pointer-events:none;}

[data-role="fold"].-active > [data-role="hidden"] {display:block;}
[data-role="fold"].-active .dl > [data-role="hidden"] {display:flex;}

[data-role="fold"].-slideup {overflow:hidden;}
[data-role="fold"].-slideup > [data-role="hidden"] {display:block; overflow:hidden;}
[data-role="fold"].-slideup .dl > [data-role="hidden"] {display:flex; overflow:hidden;}
[data-role="fold"].-slideup .more {pointer-events:none;}

[data-role="fix"].-active {position:fixed; left:0; z-index:300; width:100%;}

/* optional UI */
.limit-point {color: var(--point); font-size: 2rem; margin-left:.6rem; font-weight: bold;}
.tooltip .ul > li,
.sticker .ul > li,
.box .ul > li {font-size: 1.4rem;}
.sticker .ul.-bullet > li:before,
.box .ul.-bullet > li:before {background-color: #9e9e9e;}
.sticker .ul.-bullet > li:before {width:.4rem; height:.4rem;}
.sticker .ul.-bullet > li:only-child{padding-left:0;}
.sticker .ul.-bullet > li:only-child::before{display: none;}
.sticker .notice .p{font-size:1.4rem ;}
.-no-header .content {padding-top:2rem;}
.field .under-btn-wrap {margin-top:1rem; text-align: right;}
.layer .content > .dl > div:first-child dt,
.layer .content > .dl > div:first-child dd {padding-top:0}
.layer .content > .dl > div:last-child dt,
.layer .content > .dl > div:last-child dd {padding-bottom:0}
.layer .content > .dl.-lined {border-top:0;padding-top:0}
.bank-select [data-bankcode]:before {width:3.2rem; height:3.2rem}
.exchange [data-countrycode].-md:before {width: 3.2rem; height: 3.2rem; margin-right:0}
.exchange [data-countrycode].-md > span {padding-left:1.2rem;}
.exchange [data-countrycode].-md {display:flex; align-items:center; justify-content:flex-start;}
.segments-panels.mt-45 {margin-top:0 !important}
.segments-panel .field:first-child {margin-top:3.2rem}
.select > button .selection .info {min-height:4rem; display: flex; flex-wrap: wrap; white-space: normal; word-break: break-word;}
.select > button .selection .info .name {display: flex; align-items: center; white-space: normal; width:100%;}
.select > button .selection .account-number {width:100%;}
.case-wrap .h5 ~ .badge {margin-left:.1rem}

/* COMMON UI */

/* TYPOGRAPHY */

/* 제목 */



/* 문단 */
.p {margin:1.6rem 0; padding:0; color:var(--font2); font-size: 1.5rem; word-break:keep-all; overflow-wrap: break-word;}
.p:first-child {margin-top:0;}
.p:last-child {margin-bottom:0;}

/* 설명글 */
.h2-group .h2 + .description {font-size: 1.4rem;}
.description {margin:1.4rem 0; padding:0; color:var(--font4);}
.description + .description {margin-top:0.9rem;}
.description:first-child {margin-top:0;}
.description:last-child {margin-bottom:0;}

/* 캡션 */
.caption {margin:1.4rem 0; padding:0; color:var(--font3); font-size:1.5rem;}
.caption + .caption {margin-top:0.9rem;}
.caption:first-child {margin-top:0;}
.caption:last-child {margin-bottom:0;}
.caption.-bullet {position:relative; padding-left:calc(1.6rem + var(--indent));}
.caption.-bullet:before {content:""; position:absolute; top:1rem; left:1rem; width:.3rem; height:.3rem; border-radius:50%; background-color:var(--font3);}
.caption.-star {position:relative; padding-left:calc(1.6rem + var(--indent));}
.caption.-star:before {content:"*"; position:absolute; top:.3rem; left:.8rem; color:var(--font3);}

/* 참조 */
.ref {position:relative; width:100%; margin:1.4rem 0; padding-right:var(--indent); padding-left:calc(1.4rem + var(--indent)); color:var(--font3); font-size:1.4rem; word-break: break-word;}
.ref + .ref {margin-top:1.4rem;}
.ref:first-child {margin-top:0;}
.ref:last-child {margin-bottom:0;}
.ref:before {content:"※"; position:absolute; top:-.1rem; left:var(--indent); vertical-align:0; font-size: 1.4rem;}

.ref.center {padding-left:var(--indent);}
.ref.center:before {position:static; margin-right:.6rem; padding:0;}
.center .ref {padding-left:var(--indent);}
.center .ref:before {position:static; margin-right:.6rem; padding:0;}

/* 의미 있는 텍스트 */
.increase {display:inline-block; position:relative; padding-left:1.1em; background-color:transparent; color:var(--red); font-weight:inherit; font-size:inherit;}
.increase:before {content:""; position:absolute; top:.6em; left:0; width:0; height:0; border:.334em solid transparent; border-top-width:0; border-bottom:.45em solid var(--red);}

.decrease {display:inline-block; position:relative; padding-left:1.1em; background-color:transparent; color:var(--blue); font-weight:inherit; font-size:inherit;}
.decrease:before {content:""; position:absolute; top:.6em; left:0; width:0; height:0; border:.334em solid transparent; border-top:.45em solid var(--blue); border-bottom-width:0;}

.steady {display:inline-block; position:relative; padding-left:1.1em; background-color:transparent; color:#929292; font-weight:inherit; font-size:inherit;}
.steady:before {content:"보함"; position:absolute; top:.6em; left:0; width:0; height:0;overflow: hidden;}

.tel-info {color:var(--font2); font-size:1.4rem;}
.tel-info a {display:inline-block; position:relative; padding-bottom:.1rem; background-color:transparent; text-decoration: underline; text-underline-offset: .2rem;}







/* ios 대응 */
.page .header .funcs {display:flex; position:absolute; top:50%;transform:translate3d(0,0,0);margin-top:-1.2rem ;}
.page .header .funcs *{transform:translate3d(0,0,0)}
.page .header .funcs:first-child {left:var(--in);}
.page .header .funcs:last-child {right:var(--in);}
.page .header .func + .func  {margin-left:1.2rem;}
.page .header .func.hide {display: none;}
.page .container {height:100%;}
.page.-no-header .container {padding-top:5rem;}
.page .contents {display:flex; flex-direction:column; height:calc(100vh - 5rem);}
.page .content {padding:2.4rem var(--in) 6rem; position:relative}
.page .content:last-of-type {padding-bottom:6rem;}
.page .content.-wide {padding:0 0 6rem;}
.page .content.-full {height:100%; padding:0;}
.page .content.-middle {display:flex; flex-direction:column; justify-content:center;}
.page .sticker {margin-top:auto; padding:0 var(--in) 5rem;}
.page .fixer {position:fixed; bottom:0; left:0; width:100%; z-index:100; padding:1rem var(--in) 3.2rem; background-color:var(--bg-root); background:linear-gradient(180deg, rgba(255,255,255,0) 0%, var(--G10) .8rem);}
.page .buffer {flex:0 0 auto;}

/* 계좌 선택/목록 */
.account {position:relative; padding:2.2rem 2rem 2.2rem; border:1px solid var(--line1); border-radius:1.6rem; color:var(--font1);}
.account + .account {margin-top:2rem;}
.account.-borderless {padding:0; border:none; box-shadow:none;}
.account.-borderless button.info:after{display: none;}
.account .badges {margin-bottom:.8rem;}
.account .total {color:var(--font3); font-size:1.5rem;}
.account .total .number {color:var(--point); font-weight:bold;}
.account .info {display:block; position:relative; width:100%; text-align:left;}
.account .info[data-bankcode] {padding-left:5rem;}
.account .info:first-child:last-child {margin:0 0 -0.3rem; min-height: 4rem;}
.account button.info {position:relative; background-color:transparent;}
.account button.info[data-bankcode] {background-position-y:.7rem;}
.account .info[data-bankcode]:before {position:absolute; top:0; left:0; margin-right:0;}
.account .delete ~ .info {padding-right:2.4rem;}
.account .setting ~ .info {padding-right:4rem;}
.account .company {display:block; margin-bottom:.3rem; color:var(--font1); font-weight:bold; font-size:1.4rem; line-height:1.2;}
.account .name {display:block; color:var(--font1); font-weight:500; font-size:1.6rem; line-height:1.4; padding-top:.1rem;}
.account .name span {display:inline-block;}
.account .account-number {display:block; margin-top:0; background-color:transparent; color:var(--font3); font-size:1.4rem; line-height:1.2; word-break:keep-all; overflow-wrap: break-word;}
.account .account-number span {display:inline-block;}
.account .setting {display:block; position:absolute; top:1.9rem; right:1.9rem; z-index:1; padding:0.5rem 0.7rem; border-radius:2rem; background-color:transparent; border:1px solid var(--border1); color:var(--font1); font-weight:bold; font-size:1.3rem; line-height:1.2rem;}
.account .amounts {display:flex; align-items:flex-end;  margin-top:2rem;}
.account .amount {display:flex; flex-direction:column; justify-content:center; align-items:flex-end; margin:2rem 0 0 auto;}
.account .amounts .amount {margin-top:0;}
.account .amount.-x {flex-direction:row; justify-content:flex-end; align-items:center;}
.account .amount .key {color:var(--font3); font-size:1.4rem;}
.account .amount .value {font-size:1.9rem; font-weight: 500;}
.account .amount .value .number {font-weight:bold; font-size:1.8rem !important; line-height:1; vertical-align:-0.1rem;}
.account .dls {margin-top:1.4rem; padding:0;}
.account .dls[data-role="fold"] {padding-bottom:1.8rem;}
.account .dl {margin-top:2.2rem;}
.account .dls .dl {margin-top:0;}
.account .dls[data-role="fold"] .more {bottom:-0.6rem;}
.account .dl:first-child {margin-top:0;}
.account .dl dt,
.account .dl dd {padding:.6rem 0}
.account .buttons {margin-top:0.6rem;}
.account .fit-buttons {margin-top:2rem; padding-bottom:0.2rem;}
.account .fit-buttons button:last-child{margin-right:0;}
.account .info + [class*="buttons"] {margin-top:2.8rem;}
.account .caption {margin-top:2rem;}
.account .caption:first-child {margin-top:0;}

.account .dls {border-top:none; border-bottom:none;}

.account.-summary {padding:0 0 2.3rem; border:none; border-radius:0; box-shadow:none;}
.account.-summary .info {padding-left:var(--indent);}
.account.-summary .info .name {font-size:2rem;}
.account.-summary .info[data-bankcode] {padding-left:4.2rem;}
.account.-summary .info[data-bankcode] .name {font-size:1.7rem;}
.account.-summary .info:first-child:last-child {margin:0;}
.account.-summary .info .account-number {font-size:1.5rem;}
.account.-summary .info[data-bankcode] .account-number {font-size:1.4rem;}
.account.-summary .total {padding:0 var(--indent);}
.account.-summary .total ~ .amounts,
.account.-summary .total ~ .amount {margin-top:1.1rem;}
.account.-summary .delete {top:.2rem; right:0;}
.account.-summary .setting {top:.3rem; right:0;}
.account.-summary .amounts {margin-top:2.4rem; padding:0 0.4rem;}
.account.-summary .amount {margin-top:2.4rem; padding:0 0.4rem;}
.account.-summary .amounts .amount {margin-top:0;}
.account.-summary .amount .value {font-size:2rem !important;}
.account.-summary .amount .value .number {font-size:2.3rem !important;}
.account.-summary [class*="buttons"] {margin-top:3.7rem;}
.account.-summary .dl {margin-top:3.2rem;}

.accounts .title {display:flex; margin:5rem 0 1rem; padding:0 var(--indent);}
.accounts .title:first-child {margin-top:0;}
.accounts .title .name {position:relative; padding-left:1.2rem; color:var(--font3); font-size:1.6rem;}
.accounts .title .name:before {content:""; position:absolute; top:.9rem; left:0; width:.8rem; height:.7rem; border-radius:50%; background-color:var(--point);}
.accounts .title .name .number {color:var(--font1); font-weight:700;}
.accounts .title .sub {margin-left:auto; color:var(--font4); font-size:1.6rem;}

.hr + .accounts {margin-top:3.4rem;}
.field + .accounts {margin-top:4rem;}

.selection {padding:0;}
.selection li {display: flex; align-items:center;}
.selection li a {display: block; width:100%; height:100%;}
.selection li ~ li {margin-top:1.6rem;}
.selection li > .info {margin-top:1.6rem;}
.selection li > .info.-bordered {margin-top:0;}
.selection li > .info.-bordered .field {margin-top:1.2rem;}
.selection li > .info.-bordered > .field {margin-top:0;}
.selection li > .checkbox {margin-right:1.6rem;}
.selection .info {display:block; position:relative; width:100%; padding-left:5rem; background-color:transparent; text-align:left; transition:background-color .3s;}
.selection .info:disabled,
.selection .info.-disabled {opacity:.5;}
.selection button.info:not([data-bankcode], [data-countrycode]):active {background-color:var(--bg1); transition:none;}
.selection .info[disabled] {opacity:.3;}
.selection .info[data-bankcode]:before {position:absolute; top:50%; left:0; margin-right:0; transform:translateY(-50%);}
.selection .info.-fix[data-bankcode]:before {position:absolute; top:0; left:0; margin-right:0; transform:translateY(0);}
.selection .info.-bordered {padding:2.2rem 2rem; border:1px solid var(--line1); border-radius:1.6rem; position:relative;}
.selection .info.-bordered.-active {border-color: var(--point);}
.selection .info.-bordered.-active::after {content:'선택됨'; font-size: 1rem; opacity: 0; width:0; height:0; position:absolute; overflow: hidden;}
.selection .info.-bordered[data-bankcode] {padding: 1.6rem 2rem; padding-left:7rem; border-radius: 1.2rem;}
.selection .info.-bordered[data-bankcode]:before {left:1.9rem;}
.selection .info[data-bankcode] .checkbox {position:absolute;width:2.4rem; height:2.4rem; top: 50%; transform: translateY(-50%); right:2rem; margin:0;}
.selection .info.-bordered.-checkbox {padding-right:4rem;}
.selection .info.-bordered .top-area {margin-bottom:.8rem; line-height:1; font-size: 0; letter-spacing: 0; word-spacing: 0;}
.selection .info.-bordered .info-top {font-size: 1.2rem;}
.selection .info.-bordered .info-bottom {display: flex; align-items: center; justify-content: flex-end; font-size: 2rem; font-weight: 500; margin-top:1.8rem;}
.selection .info.-bordered .info-bottom .sm-txt {font-size: 1.5rem; color:var(--font2); font-weight: normal; margin-right:.6rem;}
.selection .info.-bordered .info-main {font-size: 1.6rem; font-weight: 500; letter-spacing: -.1rem;word-break: break-all;}
.selection .info.-bordered.-delete .info-top,
.selection .info.-bordered.-delete .top-area,
.selection .info.-bordered.-delete .info-main { padding-right:2.4rem;}
.selection .info.-bordered.-check .info-top,
.selection .info.-bordered.-check .top-area,
.selection .info.-bordered.-check .info-main { padding-right:2.4rem;}
.selection .info.-bordered.-check .top-area + .info-main,
.selection .info.-bordered.-delete .top-area + .info-main {padding-right:0;}
.selection .info.-bordered .del-btn {width:2.4rem; height:2.4rem; background: url(../imgs/ico/common/ico-round-del-lg.png) center center / cover no-repeat ; position:absolute; right:1.6rem; top:50%; transform: translateY(-50%);}
/* .dark-mode .selection .info.-bordered .del-btn {width:2.4rem; height:2.4rem; background: url(../imgs/ico/common/ico-round-del-lg_dk.png) center center / cover no-repeat ; position:absolute; right:1.6rem; top:50%; transform: translateY(-50%);} */
.selection .info.-bordered .del-btn.-fixed {top:2rem; right:2rem; transform: none;}
.selection .info.-bordered .checkbox.-fixed {position:absolute; width:2.4rem; height:2.4rem; top:2rem; right:2rem; transform: none;}
.selection .info.-bordered .radio.-fixed {position:absolute; width:2.4rem; height:2.4rem; top:2rem; right:2rem; transform: none;}
.selection .info.-bordered .dl {margin-top:1.4rem;}
.selection .info.-bordered .dl dt,
.selection .info.-bordered .dl dd {padding:.6rem 0;word-break: break-all;}
.selection .info .amout-number {font-size: 1.4rem; margin-top:.8rem;}
.selection .info .amout-number .a{display: inline-block !important;width:auto}
.selection .info .amout-title {color:var(--font4)}
/* .selection .info.-bordered .info-portfolio {margin-top:1.6rem; padding:1.4rem 1.6rem 1.4rem 4.4rem; font-size:1.3rem; line-height:2rem; border-radius:1.6rem; background:var(--bg1) url(../imgs/img/fund/ico-FMED-0401010000F01.png) no-repeat 1.2rem 1.2rem / 2.4rem;} */
.selection .info.-bordered .info-portfolio + .button {margin-top:2.4rem;}

.selection .split {display:flex; align-items:center; min-width:0;}
.selection .split > span {display: grid;}
.selection .split > span:last-child {flex:1 0 auto; padding-left:.4rem; text-align:right;}
.selection .split .name {font-size: 1.4rem; font-weight: bold;}
.selection .name {display:block; color:var(--font1); font-weight:bold; font-size:1.6rem; line-height:1.2; padding-top:.1rem; white-space: unset;}
.selection .name span {display:inline-block;}
.selection .account-number {display:block; margin-top:.3rem; color:var(--font4); font-size:1.4rem; line-height:1.2; font-weight: 400;}
.selection .account-number span {display:inline-block;}

.selection li .account {width:100% !important; box-shadow: none;}
.selection li .account.-active {border-color: var(--point);}

.shortcut {margin:0;}
.shortcut a {display:block; min-height:5.4rem; position:relative; padding:1.55rem 2.4rem; color:var(--font1); font-weight:bold; font-size:1.8rem; transition: background-color .3s;}
.shortcut a:active {background-color: var(--bg1); transition: none;}
.shortcut a:before {content:""; position:absolute; top:50%; transform: translateY(-50%); right:2.4rem; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-shortcut.png) no-repeat 0 / cover;}
/* .dark-mode .shortcut a:before {content:""; position:absolute; top:50%; transform: translateY(-50%); right:2.4rem; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-shortcut_dk.png) no-repeat 0 / cover;} */

.shortcut.-lined {border-top:1px solid var(--line2); border-bottom:1px solid var(--line2);}
.shortcut.-lined li + li {margin-top:0;}
.shortcut.-lined li + li {border-top:1px solid var(--line2);}
.shortcut.-lined a {display:flex; align-items:center; padding:1.9rem var(--indent);}

/* 3뎁스 탭 */
.segments {margin-bottom:1.6rem;}
.segments .list {display:flex; flex-wrap:wrap; width:100%; background-color:var(--bg-bar-segments); border-radius: 1rem;}
.segments:not(.-tabstyle){margin-bottom:4rem;}
.segments .item {display:flex; align-items:stretch; flex:1;}
.segments.-even .item {flex:1;}
.segments .item button {display:flex; flex-direction:column; justify-content:center; align-items:center; position:relative; width:100%; height:100%; padding:1.45rem .5rem; background-color:var(--bg-segments); color:var(--color-segments);  font-weight:normal; font-size:1.5rem; text-align:center; cursor:pointer; border-radius: 1rem; line-height: 1.4;}
.segments .item.-active button {background-color:var(--bg-segments-active); color:var(--color-segments-active); font-weight:600; }
.segments .item button:after {content:""; position:absolute; top:0; left:0; width:100%; height:100%; border:1px solid var(--bg-bar-segments); border-radius:1rem; transition: .2s}
.segments .item.-active button:after {z-index:30; border-color:var(--border-segments-active); }


.segments-panels {margin:0 var(--out);}
.segments-panels > .segments-panel {display:none;}
.segments-panels > .segments-panel.-active {display:block;}
.segments-panel {padding:0 var(--in) 0;}

/* fixer 있는 케이스 */
.fixer[style*="block"] ~ .buffer,
.fixer:not(.dp-none):not([style*="none"]) ~ .buffer {height:98px !important}
.layer .fixer[style*="block"] ~ .buffer,
.layer .fixer:not(.dp-none):not([style*="none"]) ~ .buffer {height:88px !important}
.alert .fixer[style*="block"] ~ .buffer,
.alert .fixer:not(.dp-none):not([style*="none"]) ~ .buffer {height:78px !important}
.content ~ .fixer:not(.dp-none):not([style*="none"]).position-static ~ .buffer {height:0 !important} /* input 포커스시 간격생기는 문제로 변경 */

/* 툴팁 */
.tooltip {display:inline-flex; position:relative; width:2.4rem; margin:0; vertical-align:middle;}
.tooltip > .trigger {position:absolute; top:50%; left:0; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-tooltip.png) no-repeat 0 / cover; transform:translateY(-50%);}
/* .dark-mode .tooltip > .trigger {position:absolute; top:50%; left:0; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-tooltip_dk.png) no-repeat 0 / cover; transform:translateY(-50%);} */
.tooltip > .panel {display:none; position:absolute; top:1.6rem; left:0; z-index: 10; padding:2.2rem 2rem; border:1px solid var(--line2); border-radius:1.6rem; background-color:var(--bg-root); color:var(--font2); font-style:normal; font-weight:normal; font-size:1.4rem; line-height:1.5; text-decoration:none; text-align:left; box-shadow:0 0.2rem .8rem rgba(0,0,0,.05);}
.tooltip.-active > .panel {display:block; z-index:90;}
.tooltip.-reversed > .panel {top:auto; bottom: 1.7rem;}
.tooltip > .panel > .title {display:block; margin-bottom:1.2rem; color:var(--font1); font-weight:bold; font-size:1.6rem; padding-right:2.4rem;}
.tooltip > .panel > .t-content {display: block; padding-right:2.8rem;}
.tooltip > .panel > .title + .t-content {padding-right:0;}
.tooltip > .panel > span:first-child {margin-top:0;}
.tooltip > .panel span.dot {display:block; position:relative; margin-top:.6rem; padding-left:1.2rem; word-break:keep-all; overflow-wrap:break-word;}
.tooltip > .panel span.dot::before{display: block; content:""; position:absolute; top:0.8rem; left:0; width:.4rem; height:.4rem; border-radius:50%; background-color:var(--font2);}

.label + .tooltip {margin-bottom:.2rem;}

/* 배지 */
.badges {display:flex;}
.badges.-left {justify-content:flex-start;}
.badges.-center {justify-content:center;}
.badges.-right {justify-content:flex-end;}
.badges .badge + .badge,
.badge + .badge {margin-left:.4rem;}

.badge {display:inline-block; padding:.15rem .7rem; border-radius:.4rem; background-color:#eff4fc; color:#646873; font-size:1rem; font-weight: 400; border:1px solid transparent; line-height: 1.5;}

.badge.-kor {border-color:1px solid var(--point); color:var(--point); background:none;}
.badge.-eng {border-color:1px solid var(--S15); color:var(--S15); background:none;}

.badge.-gray {background-color:#eff4fc; color:#646873;}
.badge.-lightgray {background-color:#a2a8b2; color:#fff;}
.badge.-darkgray {background-color:var(--G07); color:#fff;}
.badge.-red {background-color:var(--red); color:#fff;}
.badge.-blue {background-color:var(--blue); color:#fff;}
.badge.-green {background-color:var(--point); color:#fff;}
.badge.-yellow {background-color:#ffd103; color:#121212;}
.badge.-orange {background-color:#ff6e03; color:#fff;}
.badge.-pink {background-color:var(--S35); color:#fff;}

.badge.-disabled,
.badge.-grayline {border:1px solid var(--F04); background-color:transparent; color:var(--F04);}
.badge.-darkgrayline {border:1px solid var(--G07); background-color:transparent; color:#797979;}
.badge.-redline {border:1px solid var(--red); background-color:transparent; color:var(--red);}
.badge.-blueline {border:1px solid var(--blue); background-color:transparent; color:var(--blue);}
.badge.-greenline {border:1px solid var(--point); background-color:transparent; color:var(--point);}
.badge.-yellowline {border:1px solid var(--S44); background-color:transparent; color:var(--S44);}
.badge.-purpleline {border:1px solid var(--S25); background-color:transparent; color:var(--S25);}

.badge.-grade1 {border:1px solid #d10f0f; background-color:transparent; color:#d10f0f;}
.badge.-grade2 {border:1px solid #d44b10; background-color:transparent; color:#d44b10;}
.badge.-grade3 {border:1px solid var(--S44); background-color:transparent; color:var(--S44);}
.badge.-grade4 {border:1px solid #12a396; background-color:transparent; color:#12a396;}
.badge.-grade5 {border:1px solid var(--S15);background-color:transparent; color:var(--S15);}
.badge.-grade6 {border:1px solid #015aac; background-color:transparent; color:#015aac}

.-grade1 {color:#d10f0f; font-weight: 600;}
.-grade2 {color:#d44b10; font-weight: 600;}
.-grade3 {color:var(--S44); font-weight: 600;}
.-grade4 {color:#189d91; font-weight: 600;}
.-grade5 {color:var(--S15); font-weight: 600;}
.-grade6 {color:#015aac; font-weight: 600;}

.dark-mode .badge.-grade1 {border:1px solid #f2546d; background-color:transparent; color:#f2546d}
.dark-mode .badge.-grade6 {border:1px solid #3f8ed6; background-color:transparent; color:#3f8ed6}

.dark-mode .-grade1 {color:#f2546d; font-weight: 600;}
.dark-mode .-grade6 {color:#3f8ed6; font-weight: 600;}

.badge.-smart {border:1px solid var(--S15); background-color:transparent; color:var(--S15);}

.badge.-colorpick {border:1px solid var(--colorpick); background-color:transparent; color:var(--colorpick);}
.badge.-colorpick-bg {background-color:var(--bg); color:var(--txt);}

/* 3뎁스 탭스타일 */
.segments.-tabstyle {height:5rem; margin-bottom:1.6rem; position:relative}
.segments.-tabstyle .inner {overflow-x:auto; -webkit-overflow-scrolling:touch; overscroll-behavior-x:none;}
.segments.-tabstyle .list {display:flex; width:100%; height:5rem; flex-wrap: nowrap; background-color: var(--G10);}
.segments.-tabstyle .item {display:flex; align-items:stretch; flex-grow:1;}
.segments.-tabstyle.-even .item {flex:1;}
.segments.-tabstyle .item + .item {margin-left:-1px;}
.segments.-tabstyle .item button {display:flex; flex-direction:column; justify-content:center; align-items:center; position:relative; width:100%; padding:0 1.6rem; background-color:var(--G10); color:var(--F03);  font-weight:normal; font-size:1.6rem; line-height:1.2; text-align:center; cursor:pointer; margin:0; border-radius: 0; border-bottom:2px solid transparent; white-space: nowrap; z-index: 2; background:transparent}
.segments.-tabstyle .item:first-child button {border-radius:0;}
.segments.-tabstyle .item:last-child button {border-radius:0;}
.segments.-tabstyle .item.-active button {color:var(--color-bar-segments-active); font-weight:bold; border-bottom:2px solid var(--G01)}
.segments.-tabstyle .item:first-child button:after {border-radius:0;}
.segments.-tabstyle .item:last-child button:after {border-radius:0;}
.segments.-tabstyle .item button:after {display: none;}
.segments.-tabstyle .list:after {content: "";position: absolute;bottom: 0;left: 0; right:0; z-index: 1;width: 100%;height: 1px;background-color: var(--line1);}
.segments.-tabstyle.-swipe .outer.-tabscroll:before {width:.8rem; background:linear-gradient(270deg, rgba(255,255,255,0) 0%, var(--G10) 100%);}
.segments.-tabstyle.-swipe .outer.-end:after {width:0; background:linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--G10) 0%);}
.segments.-tabstyle.-swipe .outer:before {content:""; position:absolute; top:0; left:0; bottom:0; z-index:30; width:0; background:linear-gradient(270deg, rgba(255,255,255,0) 0%, var(--G10) 0%); pointer-events: none;}
.segments.-tabstyle.-swipe .outer:after {content:""; position:absolute; top:0; right:0; bottom:0; z-index:30; width:.8rem; background:linear-gradient(90deg, rgba(255,255,255,0) 0%, var(--G10) 100%); pointer-events: none;}
.segments.-tabstyle .inner::-webkit-scrollbar {display:none;}

/* 링크 */
.a {display:inline-block; position:relative; background-color:transparent; color:inherit; font-weight:inherit; font-size:inherit; text-decoration:underline; text-underline-offset:.125em; font-size: 1.3rem;}
.a.-arrow {position:relative; padding-right:1.6rem; text-decoration:none; font-size: 1.4rem; font-weight: 500;}
.a.-arrow:after {content:""; position:absolute; top:50%; transform: translateY(-50%); right:0; width:1.6rem; height:1.6rem; background:url(../imgs/ico/common/ico-alink-arrow.png) no-repeat 0 / cover; }
/* .dark-mode .a.-arrow:after {content:""; position:absolute; top:50%; transform: translateY(-50%); right:0; width:1.6rem; height:1.6rem; background:url(../imgs/ico/common/ico-alink-arrow_dk.png) no-repeat 0 / cover; } */
.a.-tel {position:relative; padding-left:1.8em; font-size:calc(1em + 0.05rem);  white-space:nowrap;}
.a.-tel:before {content:""; display:block; position:absolute; top:51%; left:0; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-tel.png) no-repeat 0 / cover; transform:translateY(-50%);}
/* .dark-mode .a.-tel:before {content:""; display:block; position:absolute; top:51%; left:0; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-tel_dk.png) no-repeat 0 / cover; transform:translateY(-50%);} */

.ol.-badge > li {position:relative; padding-top:0.4rem; padding-left:6.4rem; color:var(--font2); font-size:1.5rem; padding-bottom: 3rem;}
.ol.-badge > li::after {content:''; width:.15rem; background:url(../imgs/ico/common/ico-path.png) repeat center top / 0.15rem auto ; position:absolute; left:2.5rem; top:3.1rem; bottom:0;}
.ol.-badge > li + li {margin-top:0;}
.ol.-badge > li .gadget {display:inline-flex; justify-content:center; align-items:center; position:absolute; top:0; left:0; width:5.2rem; height:3rem; border-radius:2.4rem; color:var(--point); font-weight:bold; font-size:1.2rem; letter-spacing:-0.05em; border:2px solid var(--point)}
.ol.-badge > li > .title {display:block; color:var(--font1); font-weight:500; font-size:1.6rem; margin-bottom:.6rem}
.ol.-badge > li:last-child::after {display: none;}
.ol.-badge > li:last-child {padding-bottom:0}

/* 툴팁 */
.tooltip {display:inline-flex; position:relative; width:2.4rem; margin:0; vertical-align:middle;}
.tooltip > .trigger {position:absolute; top:50%; left:0; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-tooltip.png) no-repeat 0 / cover; transform:translateY(-50%);}
/* .dark-mode .tooltip > .trigger {position:absolute; top:50%; left:0; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-tooltip_dk.png) no-repeat 0 / cover; transform:translateY(-50%);} */
.tooltip > .panel {display:none; position:absolute; top:1.6rem; left:0; padding:2.2rem 2rem; border:1px solid var(--line2); border-radius:1.6rem; background-color:var(--bg-root); color:var(--font2); font-style:normal; font-weight:normal; font-size:1.4rem; line-height:1.5; text-decoration:none; text-align:left; box-shadow:0 0.2rem .8rem rgba(0,0,0,.05);}
.tooltip.-active > .panel {display:block; z-index:90;}
.tooltip.-reversed > .panel {top:auto; bottom: 1.7rem;}
/* .tooltip > .panel > .close {position:absolute; top:2rem; right:2rem; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-tooltip-close.png) no-repeat 0 0 / cover;} */
/* .dark-mode .tooltip > .panel > .close {position:absolute; top:2rem; right:2rem; width:2.4rem; height:2.4rem; background:url(../imgs/ico/common/ico-tooltip-close_dk.png) no-repeat 0 0 / cover;} */
.tooltip > .panel > .title {display:block; margin-bottom:1.2rem; color:var(--font1); font-weight:bold; font-size:1.6rem; padding-right:2.4rem;}
.tooltip > .panel > .t-content {display: block; padding-right:2.8rem;}
.tooltip > .panel > .title + .t-content {padding-right:0;}
.tooltip > .panel > span:first-child {margin-top:0;}
.tooltip > .panel span.dot {display:block; position:relative; margin-top:.6rem; padding-left:1.2rem; word-break:keep-all; overflow-wrap:break-word;}
.tooltip > .panel span.dot::before{display: block; content:""; position:absolute; top:0.8rem; left:0; width:.4rem; height:.4rem; border-radius:50%; background-color:var(--font2);}

.label + .tooltip {margin-bottom:.2rem;}

.tooltip-button {display:inline-block; width:2.4rem !important; height:2.4rem !important; background:url(../imgs/ico/common/ico-tooltip.png) no-repeat 0 / cover; margin:0; vertical-align:middle;}
/* .dark-mode .tooltip-button {display:inline-block; width:2.4rem !important; height:2.4rem !important; background:url(../imgs/ico/common/ico-tooltip_dk.png) no-repeat 0 / cover; margin:0; vertical-align:middle;} */

/* 스피너 */
.spinner {display:flex;width:auto !important; height:3.2rem; border:1px solid var(--border1); border-radius:0.7rem;}

.spinner .plus  {width:3.2rem; border-radius:0 0.7rem 0.7rem 0;}
.spinner .minus {width:3.2rem; border-radius:0.7rem 0 0 0.7rem; background:url(../imgs/ico/common/ico-spinner-minus.png) no-repeat 50% / 1.2rem; cursor:pointer}
.spinner .plus:disabled  {background:url(../imgs/ico/common/ico-spinner-plus-dis.png) no-repeat 50% / 1.2rem; cursor:default; background-color: var(--G09);}
/* .dark-mode .spinner .plus:disabled  {background:url(../imgs/ico/common/ico-spinner-plus-dis_dk.png) no-repeat 50% / 1.2rem; cursor:default; background-color: var(--G09);} */
/* .dark-mode .spinner .minus:disabled {background:url(../imgs/ico/common/ico-spinner-minus-dis_dk.png) no-repeat 50% / 1.2rem; cursor:default; background-color: var(--G09);} */
.spinner .plus:active,
.spinner .minus:active {background-color:var(--bg1);}
.spinner .value {min-width:4.2rem; border-right:1px solid var(--border1); border-left:1px solid var(--border1); color:var(--font1); font-size:1.6rem; line-height:3.2rem; text-align:center; font-weight: 400;}

.invest-qna {margin-top:0;}
.invest-qna .question-text {color:var(--font1); font-weight:500; font-size:1.6rem;}
.invest-qna .question-text span.number {font-size: 1.8rem; font-weight: 600;}
.invest-qna .number {margin-right:.2rem;}
.invest-qna .answer-list {margin-top:2rem;counter-reset:counter-inc;}
.invest-qna .answer-list .item {margin-top:1.2rem;position: relative;} /* 2024 접근성 (.invest-qna .answer-list .item input width, height 변경으로 'position: relative' 추가)  */
.invest-qna .answer-list .item:first-child {margin-top:0;}
.invest-qna .answer-list .item input {overflow:hidden; position:absolute; width:100%; height:100%; margin:0; padding:0; border:0; white-space:nowrap; clip:rect(1px, 1px, 1px, 1px);} /* 2024 접근성 (width, height 변경)  */
.invest-qna .answer-list .item .invest-unit {position:relative; display:flex; width:100%; padding:1rem 2rem 1rem 6rem; border:1px solid var(--line1); border-radius:1.3rem; color:var(--font2); font-size:1.5rem; cursor: pointer; min-height:7rem; align-items: center;}
.invest-qna .answer-list .item .invest-unit::after {content:''; position:absolute; transform:translateY(-50%); top:50%; left:1.2rem; width:3.6rem; height:3.6rem; background-repeat:no-repeat; background-position:0 50%; background-size:3.6rem 3.6rem;}
.invest-qna .answer-list .item .invest-unit.-none{padding:1.6rem 2rem 1.9rem 3.8rem;}
.invest-qna .answer-list .item input:checked + .invest-unit {border-color:var(--point);}
.invest-qna .answer-list .item input.-caution + .invest-unit {border-color:var(--red);}
.invest-qna .answer-list .item input:disabled + .invest-unit {color:var(--font5);}
.invest-qna .answer-list .item input:disabled + .invest-unit::after {opacity: .3;}
.invest-qna .answer-list p {margin:4.5rem 0 0 0;}
.invest-qna .answer-list p:first-child {margin-top:0;}
.invest-qna .answer-list .item .check-ox.positive {min-height:4.8rem; background:url(../imgs/ico/common/ico-positive.png) no-repeat center / 2.4rem 2.4rem;}
.invest-qna .answer-list .item .check-ox.negative {min-height:4.8rem; background:url(../imgs/ico/common/ico-negative.png) no-repeat center / 2.4rem 2.4rem;}
/* .dark-mode .invest-qna .answer-list .item .check-ox.positive {min-height:4.8rem; background:url(../imgs/ico/common/ico-positive_dk.png) no-repeat center / 2.4rem 2.4rem;} */
/* .dark-mode .invest-qna .answer-list .item .check-ox.negative {min-height:4.8rem; background:url(../imgs/ico/common/ico-negative_dk.png) no-repeat center / 2.4rem 2.4rem;} */
.invest-qna .answer-list .item .invest-unit.-none::after {display: flex; content:counter(counter-inc);counter-increment:counter-inc; border:1px solid #121212; border-radius: 50%; width:1.5rem; height:1.5rem; font-size: 1.1rem; justify-content: center; align-items: center; position:absolute; top:2.8rem; left:2rem;}
.invest-qna .answer-list .item .invest-unit.-icon1::after {background-image:url(../imgs/img/etf/ico-FMIA-0400000000F01-1.png);}
.invest-notice {margin-top:1.6rem;text-align: left;}
.invest-notice .rethink + .message{margin-top: 0;}

.data-collect .title {color:var(--font1); font-weight:bold; font-size:1.5rem;}
.data-collect .address {color:var(--font1); font-weight:normal; font-size:1.4rem;}
.data-collect .desc {color:var(--font3); font-size:1.4rem;}
.data-collect .phone {padding:1.2rem 0;}