@charset "utf-8";

/* H1 */
.h1 {margin-bottom:0.9rem; padding:0; color:var(--font1); font-weight:bold; font-size:2.6rem; line-height:1.4; word-break:keep-all; overflow-wrap: break-word; letter-spacing: -.08rem;}
.h1:first-child {margin-top:0;}
.h1:last-child {margin-bottom:0;}

.hr + .h1 {margin-top:0;}

/* H2 */
.h2 {margin-bottom:1.2rem; padding:0; color:var(--font1); font-weight:bold; font-size:2.2rem; line-height:1.4; word-break:keep-all; overflow-wrap: break-word; letter-spacing: -.08rem;}
.h2:first-child {margin-top:0;}
.h2:last-child {margin-bottom:0;}

.hr + .h2 {margin-top:0;}

/* H3 */
.h3 {margin:4rem 0 1.4rem; padding:0; color:var(--font1); font-weight:500; font-size:2rem; line-height:1.2; word-break:keep-all; overflow-wrap: break-word;}
.h3:first-child {margin-top:0;}
.h3:last-child {margin-bottom:0;}

.hr + .h3 {margin-top:0;}

/* H4 */
.h4 {margin:4rem 0 1.4rem; padding:0; color:var(--font1); font-weight:500; font-size:1.8rem; line-height:1.2; word-break:keep-all; overflow-wrap: break-word;}
.h4:first-child {margin-top:0;}
.h4:last-child {margin-bottom:0;}

.h2 + .h4,
.h2-group + .h4 {margin-top:2.2rem;}
.h3 + .h4,
.h3-group + .h4 {margin-top:2.2rem;}
.hr + .h4 {margin-top:0;}
.messages + .h4 {margin-top:0;}

/* H5 */
.h5 {margin:3.2rem 0 1.4rem; padding:0; color:var(--font1); font-weight:500; font-size:1.6rem; line-height:1.2; word-break:keep-all; overflow-wrap: break-word;}
.h5:first-child {margin-top:0;}
.h5:last-child {margin-bottom:0;}

.h4 + .h5,
.h4-group + .h5 {margin-top:1.8rem;}
.hr + .h5 {margin-top:0;}
.messages + .h5 {margin-top:0;}

.h6 {font-size: 1.5rem; font-weight:500;}

/* 제목 그룹 */

/* H1그룹 */
.h1-group {margin-bottom:5.6rem; padding:0;}
.h1-group:last-child {margin-bottom:0;}
.h1-group .h1 {margin:0; padding:0;}
.h1-group .desc {margin:1.3rem 0; padding:0; color:var(--font2); font-size: 1.5rem; }
.h1-group .desc:last-child {margin-bottom:0;}

.left + .h1-group {margin: 3.2rem 0 2.4rem;}
.h1-group + .dls {margin-top: 3.2rem;}

/* H2그룹 */
.h2-group {margin-bottom:3rem; padding:0;}
.h2-group:last-child {margin-bottom:0;}
.h2-group .sub {padding:0; color:var(--font1); font-size:1.8rem; margin-bottom:1rem}
.h2-group .h2 {margin:0; padding:0;text-align:left;}
.h2-group .desc {margin:1.3rem 0; padding:0; color:var(--font2); font-size: 1.5rem; letter-spacing: -.08rem;}
.h2-group .desc:last-child {margin-bottom:0;}

/* H3그룹 */
.h3-group {margin:6rem 0 3rem; padding:0;}
.h3-group:first-child {margin-top:0;}
.h3-group:last-child {margin-bottom:0;}
.h3-group .h3 {margin:0; padding:0;}
.h3-group .desc {margin:1.3rem 0; padding:0; color:var(--font2);}
.h3-group .desc:last-child {margin-bottom:0;}

/* H4그룹 */
.h4-group {display:flex; flex-wrap:wrap; margin:3.2rem 0 1.6rem; padding:0;}
.h4-group .p{flex:0 0 100%}
.h4-group:first-child {margin-top:0;}
.h4-group:last-child {margin-bottom:0;}
.h4-group .h4 {margin:0; padding:0;}

/* H5그룹 */
.h5-group {display:flex; flex-wrap:wrap; margin:3.2rem 0 1.6rem; padding:0;}
.h5-group:first-child {margin-top:0;}
.h5-group:last-child {margin-bottom:0;}
.h5-group .h5 {margin:0; padding:0;}

.title-group {display:flex; align-items:center; margin-bottom:1.2rem; justify-content: space-between; align-items: center;}
.title-group .title {font-size: 1.5rem; font-weight: 500; color:var(--F01)}
.title-group + .title-group {margin-top:3.2rem;}
.title-group .label {margin-bottom:0}
.title-group .h5{margin-bottom:0}
.title-group .unit{font-size:1.3rem;color:var(--F04) ;}
